* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.questionEdition {
  border: 1px solid deeppink;
  display: inline-block;
  padding: 20px;
}
.questionEdition .colContainer {
  display: inline-block;
  margin-left: 176px;
  margin-top: 20px;
}
.questionEdition .colContainer .col {
  display: inline-block;
  text-align: center;
  width: 70px;
  max-width: 70px;
}
.questionEdition .colContainer .col .text {
  text-align: center;
  margin-top: 5px;
}
.questionEdition .colContainer .col .minus {
  color: tomato;
  cursor: pointer;
  position: relative;
  top: -5px;
}
.questionEdition .colContainer .plus {
  top: -28px;
  position: relative;
  margin-left: 10px;
}
.questionEdition .rowContainer .row {
  margin: 15px 0px;
  height: 33px;
}
.questionEdition .rowContainer .row .image {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.questionEdition .rowContainer .row .text {
  display: inline-block;
  position: relative;
  top: -7.5px;
  width: 100px;
  max-width: 100px;
}
.questionEdition .rowContainer .row .minus {
  color: tomato;
  cursor: pointer;
  margin: 0px 10px;
  position: relative;
  top: -7.5px;
}
.questionEdition .rowContainer .row .radioboxgroup {
  top: -7.5px;
  position: relative;
}
.questionEdition .rowContainer .row .radioboxgroup .radiobox {
  width: 70px;
  display: inline-block;
  text-align: center;
}
.questionEdition .plus {
  width: 30px;
  height: 30px;
  display: inline-block;
  color: green;
  cursor: pointer;
}
.questionEdition .row-plus {
  position: relative;
  left: 35px;
  top: 10px;
}
.questionEdition .image {
  display: block;
  width: 33px;
  height: 30px;
  margin: 0 auto;
  background: lightgrey;
}

.EditableQuestionTitle input {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.EditableQuestionTitle i {
  cursor: pointer;
  margin: 0 20px;
}
.EditableQuestionTitle i:hover {
  color: deepskyblue;
}
.EditableQuestionTitle .save {
  font-size: 18px;
  position: relative;
  top: 3px;
}